body 
{
    background-image: url(../assests/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 95vh;
}

